
.card-body {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 20px;
    text-align:left;
    font-family: Arial, sans-serif;

}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.8);
    top: 42%;
    bottom: 42%;
    width: 10%;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse; /* Para que visualmente se comporten correctamente con el CSS */
    justify-content:center;
    font-size: 4em;
}

.star-rating input {
    display: none; /* Escondemos los botones de radio */
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
}

  /* Al seleccionar una estrella (con click) */
.star-rating input:checked ~ label {
    color: gold;
}

  /* Al pasar el mouse sobre una estrella */
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.resenias {
    display: flex;
}

.calificar1, .calificar2 {
    padding: 20px;
    border: 1px solid rgba(192, 192, 192, 0.363);
    border-radius: 10px;
    margin-right: 5px;
    margin-left:5px;
}

.calificar1 {
    width: 64%;
}

.calificar2 {
    text-align: center;
    width: 34%;
}

#submit {
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: 5px;
    width: 20%;
    padding: 2%;
    margin-top: 10px;
}

.star {
    font-size: 1.5rem;
    color:  #ddd;
}

.star.filled {
    color: gold;
}

.product-card {
    display: inline-block;
    width: 250px;
    height: 260px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card p {
    color: #555;
}

.fecha{
    text-decoration: none;
}